.containerFluid {
  box-sizing: border-box;
  width: 100%;
  padding: 0 50px;
}

@media (max-width: 1440px) {
  .containerFluid {
    padding: 0 40px;
  }
}

@media (max-width: 1280px) {
  .containerFluid {
    padding: 0 30px;
  }
}

@media (max-width: 1170px) {
  .containerFluid {
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  .containerFluid {
    padding: 0 12px;
  }
}
