.project {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.project__content {
  position: relative;
  height: 100%;
  width: 100%;
  padding-left: 130px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project__form h4 {
  font-size: 18px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.4);
  margin: 0;
  margin-bottom: 18px;
}

.project__form .project__row {
  display: grid;
  grid-template-columns: auto 280px auto 280px;
  grid-row-gap: 50px;
}

.project__form>.project__row>span {
  font-size: 25px;
  color: #FFCF24;
}

.project__form>.project__row>div {
  margin: 0 10px -5px 10px;
}

.project__form>.project__buttons>.project__button {
  padding: 20px 32px;
  background: transparent;
  border: 2px solid rgba(255, 207, 36, 0.8);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  color: #FFCF24;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  border-radius: 0;
  text-decoration: none;
  margin-top: 70px;
  display: inline-block;
}

.project__form>.project__buttons>.project__button:hover {
  background: #FFCF24;
  border: 2px solid #FFCF24;
  transition: 0.3s ease-in-out;
  color: #212121;
}

.project__form>.project__buttons>.project__button_link {
  font-size: 16px;
  color: #FFCF24;
  text-decoration: none;
  margin: 20px 32px 20px 0;
  position: relative;
}

.project__form>.project__buttons>.project__button_link::after {
  content: '';
  width: 0;
  position: absolute;
  height: 1px;
  background-color: #ffcf24;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
}

.project__form>.project__buttons>.project__button_link:hover::after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.project__form>.project__row>input {
  margin: 0 10px -5px 10px;
  border: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #FFCF24;
  outline: none;
  font-size: 18px;
  color: #ffffff;
}

.project__form>.project__row>input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #292929 !important;
  -webkit-text-fill-color: #ffffff !important;
  color: #ffffff !important;
}

.project__file {
  position: relative;
}

.project__file::after {
  content: '';
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffcf24;
  transition: 0.3s ease-in-out;
}

.project__file:hover::after {
  width: 100%;
  transition: 0.3s ease-in-out;
}

@media (max-width: 1280px) {
  .project__form .project__row {
    grid-template-columns: auto 240px auto 240px;
  }
}

@media (max-width: 1170px) {
  .project__content {
    padding-left: 80px;
  }
  .project__form .project__row {
    grid-template-columns: auto 200px auto 200px;
  }
}

@media (max-width: 960px) {
  .project__form .project__row {
    grid-template-columns: auto 280px;
    grid-row-gap: 30px;
  }
}

@media (max-width: 860px) {
  .project__content {
    padding-left: 50px;
  }
}

@media (max-width: 720px) {
  .project__content {
    padding-left: 50px;
    padding-right: 50px;
  }
  .project__form .project__row {
    grid-template-columns: auto 1fr;
    grid-row-gap: 20px;
    width: 100%;
  }
  .project__form>.project__row>div {
    margin: 0 10px 0 10px;
  }
}

@media (max-width: 640px) {
  .project__content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .project__form .project__row {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    width: 100%;
  }
  .project__form>.project__row>div {
    margin: 0;
  }
  .project__form>.project__row>input {
    margin: 0;
  }
}
